</div> <!-- end of div.container, in header.html -->

<footer>

</footer>

<!-- jQuery -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- Bootstrap -->
<script src="{{ '/bootstrap.min.js' | prepend: site.jsurl }}"></script>

<!-- MathJax -->
<script type='text/x-mathjax-config'>
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$', '$']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true,
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
    },
  });
</script>
<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!-- highlight.js -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/languages/matlab.min.js"></script>
<script>
  hljs.registerLanguage('plain', function(hljs) {
    return { case_insensitive: true, keywords: '', contains: [] };
  });
  hljs.initHighlightingOnLoad();
</script>
