$blockquote-font-size: $font-size-base;

@import "bootstrap-3.3.1/bootstrap";
@import "bootstrap-3.3.1/bootstrap/theme"; // Optional


html {
  font-size: $font-size-base !important; // overwright again for `rem`
  box-shadow: 1px;
}

body {
  color: $text-color;
}


// Styles
h1 {
  text-align: center;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

pre > code.hljs { // code block only
  font-size: 1em;
  padding: 0;
}
:not(pre) > code { /* inline code only */
  font-size: 1em;
  border: 1px solid darken($code-bg, 10%);
  // border-radius: 0.2em;
  padding: 0 0.2em;
  // background-color: #3f3f3f;
}



// overload Bootstrap
.alert-warning {
  &::before {
    font-family: FontAwesome;
    content: "\f071"; // fa-exclamation-triangle == fa-warning
    display: inline-block;
    padding-right: 0.5em;
    vertical-align: middle;
  }
}
